@import '../shared/variables.scss';

hr {
  border-top: 1px solid $color-black;
}

.btn-random {
  background: $color-black;
  border: 0;
  color: $color-white;
  font-weight: 700;
  margin-bottom: 20px;
  opacity: .8;
  padding: 12px;
  &:hover {
    opacity: 1;
  }
  &:focus {
    background: $color-black;
    outline: 0;
  }
}
.decks-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .deck {
    background: $color-black;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 15px 15px 0;
    opacity: .8;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      opacity: 1;
    }
    &:focus {
      outline: 0;
    }
    span {
      color: $color-white;
      font-size: 24px;
      font-weight: 700;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
